@media (min-width: 780px) {
  header {
    padding: 5rem 10rem;
    margin-bottom: 10rem;
  }
  header .logo > img {
    width: 20rem;
  }

  header nav ul {
    gap: 10rem;
    font-size: 2rem;
  }

  button:hover {
    cursor: pointer;
    background-color: var(--Brigh-Blue-Opacity);
  }

  .first-section {
    flex-direction: row;
    padding: 0 10rem 10rem 10rem;
    gap: 10rem;
  }

  .first-section img {
    width: 50%;
    order: 2;
  }
  .first-section .first-section-content {
    width: 50%;
  }

  .first-section-content .text {
    max-width: none;
    text-align: start;
  }
  .first-section-content h1,
  .first-section-content p {
    text-align: start;
  }
  .first-section-content h1 {
    font-size: 5rem;
  }
  .first-section-content p {
    font-size: 2rem;
  }

  .first-section-content .form {
    flex-direction: row;
  }
  .form input,
  .form button {
    padding: 2rem;
    font-size: 1.5rem;
  }
  .form input {
    width: 50%;
  }
  .form button {
    width: 25%;
  }
  .second-section .bg-curve-desktop {
    display: block;
    width: 100%;
  }
  .second-section .bg-curve-mobile {
    display: none;
  }

  .second-section .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10rem;
  }

  .second-section .content .illustration {
    width: 50%;
    max-width: 100%;
    order: 2;
  }

  .content-text {
    width: 50%;
    max-width: none;
  }

  .content .text h1 {
    text-align: start;
    font-size: 5rem;
  }
  .content-text .text p {
    color: var(--Desaturated-Blue);
    font-size: 2rem;
    width: 80%;
  }
  .content-text .text a {
    margin: 0 auto 6rem 0;
  }

  .content-text .text a:hover {
    color: var(--Moderate-Cyan-Opacity);
  }
  .card {
    padding: 4rem;
    margin: 0 0 10rem 0;
    font-size: 1.5rem;
    gap: 2rem;
  }

  .third-section {
    padding: 10rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .third-section .text {
    max-width: none;
    text-align: start;
    width: 60%;
  }

  .third-section .text h1 {
    font-size: 5rem;
  }
  .third-section .text p {
    font-size: 2rem;
    width: 60%;
  }
  .third-section .form {
    width: 40%;
    align-items: start;
  }
  .third-section .form input,
  .third-section .form button {
    max-width: none;
  }
  .form input {
    width: 90%;
  }
  .form button {
    width: 20rem;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10rem;
  }
  .img-desktop {
    width: 100%;
  }

  footer a:hover{
    color: var(--Brigh-Blue-Opacity);
    border-color: var(--Brigh-Blue-Opacity);
  }
  .phone,
  .email {
    text-wrap: nowrap;
  }
}
